* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

#root {
  width: 100%;
  height: 90vh;
  padding-left: 20px;
  padding-right: 20px;
}

.main-grp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: white;
  padding: 0 20px;
  gap: 20px;
}

.calc-container {
  display: flex;
  width: 100%;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* min-height: 90vh; */
  justify-content: center;
}

.calc-row {
  display: flex;
  height: 50px;
}

.calc-btn {
  width: calc(100% / 4);
  border: var(--btn-border) solid;
  font-size: 16px;
  font-weight: 400;
}

.calc-btn:last-child {
  background-color: coral;
}

.calc-display {
  background-color: darkgrey !important;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#calculator .col-2 {
  width: calc(100% / 2);
}

.quote-grp {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author {
  font-style: italic;
}

.author::before {
  content: '— ';
}

.active {
  color: coral !important;
}

@media (min-width: 768px) {
  .main-grp {
    flex-direction: row;
    gap: 50px;
  }

  .calc-container {
    flex-direction: row;
  }

  .quote-grp {
    width: 50%;
  }

  #calculator {
    width: 400px;
  }
}

:root {
  --btn-border: 1.8px;
}
